.banner {
  @include media-small-desctop {
    margin-bottom: 30px;
  }

  &__title-h3 {
    @include font($height: 140%, $size: 26px, $weight: 400);
    font-family: $font-family;
    color: white;
    padding: 4px 0px;
    margin: 0 auto 15.86px auto;
    width: 649px;
    height: 45px;
    text-align: center;
    background: linear-gradient(
      91deg,
      rgba(80, 145, 178, 0) 0%,
      rgba(45, 83, 102, 0.75) 12.4%,
      #223e4c 43.15%,
      rgba(57, 104, 127, 0.5) 88.94%,
      rgba(80, 145, 178, 0) 100%
    );

    @include media-small-desctop {
      @include font($height: 140%, $size: 10px, $weight: 400);
      padding: 2px 0px;
      width: 187px;
      height: 18px;
      margin-top: 7px;
    }
  }

  &__h1-p-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 13.31px;
    margin-bottom: 9.84px;
  }

  &__title-h1 {
    @include font($height: 0, $size: 52px, $weight: 500);
    font-family: $third-family;
    padding: 10px 0px;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: white;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    width: 611px;
    height: 127px;
    position: absolute;
    top: 80%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.3s ease;

    @include media-small-desctop {
      top: 72%;
    }

    &--small {
      font-size: 58px;
      line-height: 102%;

      @include media-small-desctop {
        font-size: 22px;
      }
    }

    &--large {
      font-size: 79px;
      line-height: 90%;

      @include media-small-desctop {
        font-size: 30px;
      }
    }

    @include media-small-desctop {
      width: 185px;
      height: 53px;
    }
  }

  &__title-p {
    @include font($height: 110%, $size: 26px, $weight: 400);
    font-family: $font-family;
    color: #333;
    text-align: center;
    margin: 0;

    @include media-small-desctop {
      @include font($height: 110%, $size: 9px, $weight: 400);
    }
  }
}

.mySwiper1 {
  width: 100% !important;
  background: none;
  @include media-small-desctop {
    width: 380px !important;
  }
  @include media-small-mobile {
    width: 320px !important;
  }
}

.swiper-wrapper {
  background: none;
}

.swiper-slide1 {
  width: 80% !important;
  height: 452px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1000;

  &:hover .banner__title-h1 {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  @include media-small-desctop {
    width: 340px !important;
    height: 180px;
  }

  @include media-small-mobile {
    width: 300px !important;
    height: 140px;
  }
}

.swiper-slide1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(115, 115, 115, 0) 32.9%,
    #223e4ccc 100%
  );
  pointer-events: none;
}

.swiper-slide1:hover::after {
  opacity: 0;
  transition: all 0.3s ease;
}

.swiper-slide1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
