@import "constants";
@import "mixin";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // outline: 1px solid red;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

.main-wrapper {
  background: url("../img/фон.png") no-repeat center center fixed;
  background-size: cover;
}

#line {
  background-color: #475540;
  height: 0.9px;
  margin: 0;
  border: none;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
}
