$font-family: "Jost", sans-serif;
$second-family: "Inter", sans-serif;
$third-family: "Montserrat", sans-serif;

$desctop-big-desktop-width: 1250px;
$desctop-desktop-width: 987px;
$desctop-big-tablet-width: 853px;
$desctop-small-desctop-width: 768px;
$desctop-tablet-width: 768px;
