@mixin font($size, $height, $weight, $style: normal) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
}

@mixin media-big-desktop {
  @media (max-width: $desctop-big-desktop-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $desctop-tablet-width) {
    @content;
  }
}

@mixin media-small-desctop {
  @media (max-width: $desctop-small-desctop-width) {
    @content;
  }
}

@mixin media-desctop {
  @media (max-width: $desctop-desktop-width) {
    @content;
  }
}

@mixin media-big-tablet {
  @media (max-width: $desctop-big-tablet-width) {
    @content;
  }
}
