@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

.main-wrapper {
  background: url("../img/фон.png") no-repeat center center fixed;
  background-size: cover;
}

#line {
  background-color: #475540;
  height: 0.9px;
  margin: 0;
  border: none;
}

.main {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.header__contacts-block {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 0 40px;
  align-items: center;
  background: #223e4c;
  height: 55px;
}
@media (max-width: 768px) {
  .header__contacts-block {
    padding: 0 5px 0 5px;
    height: 45px;
  }
}
@media (max-width: 768px) {
  .header__nav-burger-block {
    background: white;
    display: flex;
    justify-content: end;
    height: 45px;
  }
}
.header__burger {
  width: 30px;
  height: 16px;
  position: relative;
  display: none;
  color: black;
  top: 12.75px;
  right: 12.75px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
  }
}
.header__burger-line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  color: black;
  background: black;
  right: 0;
  cursor: pointer;
  transition: 0.3s all linear;
}
.header__burger-line-first {
  right: 0;
  width: 15px;
}
.header__burger-line-second {
  top: 50%;
  transform: translateY(-50%);
}
.header__burger-line-third {
  bottom: 0;
  width: 15px;
}
.header__phone-soc-block {
  display: flex;
  gap: 5px;
}
.header__logo-address-block {
  display: flex;
  align-items: center;
  gap: 5.5px;
}
.header__logo-block {
  margin-top: 55px;
  width: 92px;
  height: 80px;
}
.header__logo-block img {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .header__logo-block {
    width: 76px;
    height: 63px;
    margin-top: 35px;
  }
}
.header__adress {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  font-family: "Jost", sans-serif;
  color: white;
}
@media (max-width: 768px) {
  .header__adress {
    display: none;
  }
}
.header__phone-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  .header__phone-block {
    display: none;
  }
}
.header__call {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  color: white;
}
.header__phone {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  font-family: "Jost", sans-serif;
  color: #328ca7;
  text-decoration: none;
  cursor: pointer;
}
.header__soc-icons-block {
  display: flex;
  align-items: center;
  gap: 25px;
}
@media (max-width: 768px) {
  .header__soc-icons-block {
    gap: 12px;
  }
}
.header__soc-icons:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.header__soc-icon {
  width: 30px;
  height: 30px;
  transition: fill 0.3s ease;
}
.header__soc-icon img {
  width: 100%;
  height: 100%;
}
.header__soc-icon:hover img {
  filter: brightness(0) saturate(100%) invert(1);
}
.header__nav-btn-block {
  display: flex;
  background-color: white;
  padding-right: 40px;
}
@media (max-width: 768px) {
  .header__nav-btn-block {
    justify-content: end;
    padding-right: 0;
  }
}
.header__nav {
  display: flex;
  width: 100%;
  justify-content: end;
}
@media (max-width: 768px) {
  .header__nav {
    position: fixed;
    padding: 10px 20px;
    width: 167px;
    height: 183px;
    margin-top: 93px;
    top: 0;
    right: 0;
    z-index: 10;
    transform: translateY(-200%);
    background-color: white;
    justify-content: center;
  }
}
.header__nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 16.5px 25px 16.5px 0;
  gap: 25px;
  margin: 0;
}
@media (max-width: 768px) {
  .header__nav-list {
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .header__nav-item {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    position: relative;
    gap: 1px;
    width: 100%;
  }
  .header__nav-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 0.56px solid #333;
  }
}
.header__nav-link {
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #328ca7;
}
.header__nav-link:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
  color: #328ca7;
}
@media (max-width: 768px) {
  .header__nav-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}
.header__nav-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -31.25px;
  right: 6.75px;
  z-index: 11;
  opacity: 0;
  cursor: pointer;
}
.header__nav-close-line {
  display: block;
  height: 2px;
  width: 100%;
  background: black;
  position: absolute;
  top: 50%;
}
.header__nav-close-line:first-child {
  transform: translateY(-50%) rotate(45deg);
}
.header__nav-close-line:last-child {
  transform: translateY(-50%) rotate(-45deg);
}
.header__btn-list {
  background: #f26c4f;
  border-radius: 27px;
  width: 151px;
  height: 39px;
  border: none;
  cursor: pointer;
  height: 39px;
  margin-top: 7.82px;
}
@media (hover: hover) {
  .header__btn-list:hover {
    transform: all 0.3s ease;
    background: #e7421c;
  }
}
@media (hover: none) {
  .header__btn-list:active {
    transform: all 0.3s ease;
    background: #e7421c;
  }
}
@media (max-width: 768px) {
  .header__btn-list {
    width: 120px;
    height: 30px;
    margin-right: 23px;
    padding: 0 0 4px 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.header__btn-link {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  color: #fffdfd;
  text-decoration: none;
  text-align: center;
}
.header__btn-link:hover {
  color: white;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .header__btn-link {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    color: #fffdfd;
  }
}
.header__nav-active {
  transform: translateX(0);
  position: absolute;
}
.header__nav_icon {
  display: none;
}
@media (max-width: 768px) {
  .header__nav_icon {
    display: block;
  }
}

.close-burger-item {
  opacity: 0;
}

.open-close-item {
  opacity: 1;
}

@media (max-width: 768px) {
  .banner {
    margin-bottom: 30px;
  }
}
.banner__title-h3 {
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  font-family: "Jost", sans-serif;
  color: white;
  padding: 4px 0px;
  margin: 0 auto 15.86px auto;
  width: 649px;
  height: 45px;
  text-align: center;
  background: linear-gradient(91deg, rgba(80, 145, 178, 0) 0%, rgba(45, 83, 102, 0.75) 12.4%, #223e4c 43.15%, rgba(57, 104, 127, 0.5) 88.94%, rgba(80, 145, 178, 0) 100%);
}
@media (max-width: 768px) {
  .banner__title-h3 {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    padding: 2px 0px;
    width: 187px;
    height: 18px;
    margin-top: 7px;
  }
}
.banner__h1-p-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 13.31px;
  margin-bottom: 9.84px;
}
.banner__title-h1 {
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 0;
  font-family: "Montserrat", sans-serif;
  padding: 10px 0px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  width: 611px;
  height: 127px;
  position: absolute;
  top: 80%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.3s ease;
}
@media (max-width: 768px) {
  .banner__title-h1 {
    top: 72%;
  }
}
.banner__title-h1--small {
  font-size: 58px;
  line-height: 102%;
}
@media (max-width: 768px) {
  .banner__title-h1--small {
    font-size: 22px;
  }
}
.banner__title-h1--large {
  font-size: 79px;
  line-height: 90%;
}
@media (max-width: 768px) {
  .banner__title-h1--large {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .banner__title-h1 {
    width: 185px;
    height: 53px;
  }
}
.banner__title-p {
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  font-family: "Jost", sans-serif;
  color: #333;
  text-align: center;
  margin: 0;
}
@media (max-width: 768px) {
  .banner__title-p {
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
  }
}

.mySwiper1 {
  width: 100% !important;
  background: none;
}
@media (max-width: 768px) {
  .mySwiper1 {
    width: 320px !important;
  }
}

.swiper-wrapper {
  background: none;
}

.swiper-slide1 {
  width: 80% !important;
  height: 452px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1000;
}
.swiper-slide1:hover .banner__title-h1 {
  opacity: 0;
  transition: opacity 0.3s ease;
}
@media (max-width: 768px) {
  .swiper-slide1 {
    width: 300px !important;
    height: 140px;
  }
}

.swiper-slide1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(115, 115, 115, 0) 32.9%, rgba(34, 62, 76, 0.8) 100%);
  pointer-events: none;
}

.swiper-slide1:hover::after {
  opacity: 0;
  transition: all 0.3s ease;
}

.swiper-slide1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project {
  padding: 56.39px 42px 0 42px;
}
@media (max-width: 768px) {
  .project {
    padding: 0 10px 0 10px;
    margin-bottom: 30px;
  }
}
.project__title {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  color: #328ca7;
  margin: 0;
}
@media (max-width: 768px) {
  .project__title {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
  }
}
.project hr {
  background-color: #328ca7;
  height: 2px;
  margin: 0;
}
.project__main-block {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .project__main-block {
    flex-direction: column;
    align-items: start;
    gap: 8px;
    margin-top: 15px;
  }
}
.project__first-block {
  display: flex;
  flex-direction: column;
  gap: 54px;
}
.project__second-block {
  display: flex;
  flex-direction: column;
  gap: 54px;
}
.project__time {
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  font-family: "Montserrat", sans-serif;
  color: #333;
  letter-spacing: 2px;
  margin: 0;
}
@media (max-width: 768px) {
  .project__time {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
  }
}
.project__p {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  color: #333;
  margin: 0;
}
@media (max-width: 768px) {
  .project__p {
    display: none;
  }
}
.project__p2 {
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  text-align: right;
  color: #333;
  margin: 0;
}
@media (max-width: 768px) {
  .project__p2 {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
  }
}
.project__video-block {
  width: 656px;
  height: 438px;
  border-radius: 54px;
  margin: 40px auto;
  overflow: hidden;
  background: black;
}
@media (max-width: 768px) {
  .project__video-block {
    border-radius: 20px;
    width: 241px;
    height: 161px;
  }
}
.project__text {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  color: #333;
  text-align: center;
  margin: 0;
}
@media (max-width: 768px) {
  .project__text {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
  }
}
.project__bold {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  color: #333;
}
@media (max-width: 768px) {
  .project__bold {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }
}

.project__video-block {
  position: relative;
}

.project__video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.project__video-poster {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.project__video-play-btn {
  position: absolute;
  cursor: pointer;
  width: 100px;
  height: 98px;
}
.project__video-play-btn img {
  width: 100%;
  height: 100%;
}
.project__video-play-btn:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .project__video-play-btn {
    width: 45px;
    height: 43px;
  }
}

.project__video-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  text-align: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
  border-radius: 5px;
}

.project__video-link a {
  color: white;
  text-decoration: none;
}
.project__video-link a:hover {
  color: #328ca7;
}

.project__text-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 768px) {
  .project__more-text {
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .project__more-text {
    display: none;
  }
}

.project__read-more {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  color: #328ca7;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: none;
  width: 150px;
  margin: 0 auto;
  line-height: 1;
}
.project__read-more::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  width: 10px;
  height: 10px;
  border-right: 2px solid #328ca7;
  border-bottom: 2px solid #328ca7;
  transform: translateY(-50%) rotate(45deg);
  vertical-align: middle;
}
.project__read-more.expanded::after {
  transform: translateY(-50%) rotate(-135deg);
}
@media (max-width: 768px) {
  .project__read-more {
    display: block;
  }
}

.clubs {
  padding: 77.65px 42px 0 42px;
}
@media (max-width: 768px) {
  .clubs {
    padding: 0 10px 0 10px;
  }
}
.clubs__main-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 39.54px;
}
@media (max-width: 768px) {
  .clubs__main-block {
    margin-top: 15px;
  }
}
.clubs__title {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  color: #328ca7;
  margin: 0;
}
@media (max-width: 768px) {
  .clubs__title {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}
.clubs__erip-second-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
  text-align: right;
  color: #f26c4f;
  margin-top: 9.96px;
  letter-spacing: 2.8px;
}
@media (max-width: 768px) {
  .clubs__erip-second-title {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.1px;
    text-align: center;
    margin-bottom: 8px;
  }
}
.clubs__p {
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 108%;
  font-family: "Jost", sans-serif;
  color: #333;
  margin: 0;
}
.clubs__p span {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 108%;
  font-family: "Jost", sans-serif;
  color: #333;
}
@media (max-width: 768px) {
  .clubs__p span {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 108%;
  }
}
@media (max-width: 768px) {
  .clubs__p {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 108%;
  }
}
.clubs__buttons {
  width: 497px;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: center;
}
@media (max-width: 768px) {
  .clubs__buttons {
    width: 138px;
  }
}
.clubs__btn {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  font-family: "Jost", sans-serif;
  color: #000;
  text-align: center;
  border-radius: 40px;
  width: 137px;
  height: 35px;
  cursor: pointer;
  background: none;
  border: 2px solid #328ca7;
}
.clubs__btn:hover {
  transition: all 0.3s ease;
  background-color: #328ca7;
  color: #fff;
}
@media (max-width: 768px) {
  .clubs__btn {
    display: none;
  }
}
.clubs__cards {
  display: flex;
  gap: 36px;
}
@media (max-width: 768px) {
  .clubs__cards {
    gap: 10px;
  }
}
.clubs__card {
  position: relative;
}
.clubs__card p {
  position: absolute;
  bottom: 0;
  left: 8%;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  color: #fff;
  padding-bottom: 10px;
  margin: 0;
  z-index: 10;
  max-height: 100%;
}
@media (max-width: 768px) {
  .clubs__card p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}
@media (max-width: 768px) {
  .clubs__card {
    border-radius: 1px;
    width: 172px;
    height: 172px;
  }
}
@media (max-width: 768px) {
  .clubs__qr {
    width: 58px;
    height: 55px;
  }
  .clubs__qr img {
    width: 100%;
    height: 100%;
  }
}
.clubs__text-qr-block {
  display: flex;
  gap: 5.66px;
}
.clubs__text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
.clubs__text {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  text-align: justify;
  color: #333;
  margin-top: 17.52px;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .clubs__text {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
  }
}
.clubs__erip {
  position: relative;
  background: url("../img/army.png") no-repeat center center;
  border-radius: 45px;
  width: 66%;
  height: 405px;
  margin: 90px auto;
  overflow: hidden;
}
@media (max-width: 768px) {
  .clubs__erip {
    border-radius: 17px;
    width: 301px;
    height: 158px;
    margin: 30px auto;
  }
}
.clubs__erip-block {
  display: flex;
}
.clubs__girl {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
@media (max-width: 768px) {
  .clubs__girl {
    width: 137px;
    height: 154px;
  }
  .clubs__girl img {
    width: 100%;
    height: 100%;
  }
}
.clubs__erip-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 2.9px;
  color: #223e4c;
  margin: 0;
}
@media (max-width: 768px) {
  .clubs__erip-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
    letter-spacing: 1.1px;
  }
}
.clubs__erip-p1 {
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  letter-spacing: -0.02em;
  color: #333;
  margin: 0;
}
@media (max-width: 768px) {
  .clubs__erip-p1 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}
.clubs__erip-p2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  letter-spacing: -0.02em;
  color: #333;
  margin: 0;
}
@media (max-width: 768px) {
  .clubs__erip-p2 {
    display: none;
  }
}
.clubs__text-qr {
  display: flex;
  flex-direction: column;
  z-index: 2;
  padding: 32px 0 31.7px 25.7px;
}
@media (max-width: 768px) {
  .clubs__text-qr {
    padding: 10px 0 12px 10px;
  }
}
.clubs__erip-btn-block {
  margin-top: 25.13px;
  padding-left: 110px;
}
@media (max-width: 768px) {
  .clubs__erip-btn-block {
    margin-top: 8px;
    padding-left: 30px;
  }
}
.clubs__erip-btn {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  font-family: "Jost", sans-serif;
  border-radius: 40px;
  padding: 15px 30px;
  color: #fffdfd;
  background: #f26c4f;
  border: none;
}
@media (hover: hover) {
  .clubs__erip-btn:hover {
    transform: all 0.3s ease;
    background: #e7421c;
  }
}
@media (hover: none) {
  .clubs__erip-btn:active {
    transform: all 0.3s ease;
    background: #e7421c;
  }
}
@media (max-width: 768px) {
  .clubs__erip-btn {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    border-radius: 20px;
    padding: 9px 18px;
  }
}
.clubs__adaptive-br {
  display: none;
}
@media (max-width: 768px) {
  .clubs__adaptive-br {
    display: block;
  }
}
.clubs__select {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  font-family: "Jost", sans-serif;
  color: #000;
  text-align: center;
  border-radius: 40px;
  background: none;
  width: 137px;
  height: 35px;
  cursor: pointer;
  border: 1.52px solid #328ca7;
  display: none;
}
@media (max-width: 768px) {
  .clubs__select {
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    border-radius: 20px;
    height: 30px;
  }
}

.swiper-slide2 {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: end;
  margin-top: 19.64px;
  border-radius: 2px;
  width: 300px !important;
  height: 298px;
  cursor: pointer;
}
.swiper-slide2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .swiper-slide2 {
    width: 172px !important;
    height: 172px !important;
  }
}

.swiper-slide2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(81, 155, 178, 0.7) 134.37%, rgba(0, 0, 0, 0.8) 100%);
  pointer-events: none;
}

.swiper-button-prev-1,
.swiper-button-next-1 {
  width: 50px;
  height: 50px;
  background-color: #dcdbd5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}
@media (max-width: 768px) {
  .swiper-button-prev-1,
  .swiper-button-next-1 {
    position: absolute;
    top: 60%;
    width: 35px;
    height: 35px;
  }
}

.swiper-button-prev-1:hover,
.swiper-button-next-1:hover {
  background-color: #c4dce3;
  transition: all 0.3s ease;
}

.swiper-button-prev-1::after,
.swiper-button-next-1::after {
  position: relative;
  color: black;
  font-size: 30px;
}
@media (max-width: 768px) {
  .swiper-button-prev-1::after,
  .swiper-button-next-1::after {
    font-size: 15px;
  }
}

.swiper-button-prev-1::after {
  top: 1px;
  left: -2px;
}

.swiper-button-next-1::after {
  top: 1px;
  left: 2px;
}

.news {
  padding: 0 42px 0 42px;
}
@media (max-width: 768px) {
  .news {
    padding: 0 10px 0 10px;
  }
}
.news__title {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  color: #328ca7;
  margin: 0;
}
@media (max-width: 768px) {
  .news__title {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}
.news hr {
  background-color: #328ca7;
  height: 2px;
  margin: 0;
}
.news__cards {
  margin-top: 30.43px;
  display: flex;
  gap: 39.7px;
}
@media (max-width: 768px) {
  .news__cards {
    gap: 10px;
    margin-top: 15px;
  }
}
.news__data {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  color: #328da2;
}
@media (max-width: 768px) {
  .news__data {
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}
.news__text {
  padding: 8px 15px;
  height: 98px;
  background: linear-gradient(360deg, rgba(103, 175, 197, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%);
}
@media (max-width: 768px) {
  .news__text {
    border-radius: 0 0 1px 1px;
    padding: 5px 9px;
    height: 57px;
  }
}
.news__p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: "Inter", sans-serif;
  color: #333;
  margin-top: 3.94px;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .news__p {
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}

.swiper-slide3 {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: center;
  border-radius: 2px 2px 0 0;
  width: 300px !important;
  cursor: pointer;
}
@media (max-width: 768px) {
  .swiper-slide3 {
    width: 172px !important;
  }
}

.swiper-button-prev-2,
.swiper-button-next-2 {
  width: 50px;
  height: 50px;
  background-color: #dcdbd5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}
@media (max-width: 768px) {
  .swiper-button-prev-2,
  .swiper-button-next-2 {
    position: absolute;
    top: 60%;
    width: 35px;
    height: 35px;
  }
}

.swiper-button-prev-2:hover,
.swiper-button-next-2:hover {
  background-color: #c4dce3;
  transition: all 0.3s ease;
}

.swiper-button-prev-2::after,
.swiper-button-next-2::after {
  color: black;
  font-size: 30px;
}
@media (max-width: 768px) {
  .swiper-button-prev-2::after,
  .swiper-button-next-2::after {
    font-size: 15px;
  }
}

.swiper-button-prev-2::after {
  top: 1px;
  left: -2px;
}

.swiper-button-next-2::after {
  top: 1px;
  left: 2px;
}

.question {
  padding: 0 40px 0 40px;
  margin-top: 75.12px;
  height: 374px;
  background-color: white;
}
@media (max-width: 768px) {
  .question {
    padding: 0 10px 0 10px;
    height: 250px;
    margin-top: 30px;
  }
}
.question__main-block {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 128.58px;
}
.question__title {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  color: #328ca7;
  padding-top: 30.08px;
}
@media (max-width: 768px) {
  .question__title {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}
.question hr {
  background-color: #328ca7;
  height: 2px;
  margin: 0;
}
.question__p {
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  margin: 0;
}
@media (max-width: 768px) {
  .question__p {
    font-size: 12.75px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
  }
}
.question__btn {
  position: relative;
  z-index: 1;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  font-family: "Jost", sans-serif;
  border: 1px solid #f26c4f;
  border-radius: 40px;
  padding: 15px 30px;
  color: #f26c4f;
  background: white;
}
@media (hover: hover) {
  .question__btn:hover {
    transform: all 0.3s ease;
    background: #f26c4f;
    color: white;
  }
}
@media (hover: none) {
  .question__btn:active {
    transform: all 0.3s ease;
    background: #f26c4f;
    color: white;
  }
}
@media (max-width: 768px) {
  .question__btn {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    border-radius: 20px;
    padding: 1px 10px;
    top: 21px;
  }
}

.accordion {
  width: 488px;
  height: 184px;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .accordion {
    width: 177px;
    height: 120px;
  }
}

#btn {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
@media (max-width: 768px) {
  #btn {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    padding: 8px;
  }
}

@media (max-width: 768px) {
  #body {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}

.footer {
  padding: 20px 40px 20px 40px;
  margin-top: 50px;
  background: #223e4c;
}
@media (max-width: 768px) {
  .footer {
    padding: 5px 10px 5px 10px;
    margin-top: 30.5px;
  }
}
.footer__contacts-logo {
  display: flex;
  align-items: center;
  gap: 9.99px;
}
@media (max-width: 768px) {
  .footer__contacts-logo {
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 768px) {
  .footer__logo-block {
    width: 36px;
    height: 31px;
  }
  .footer__logo-block img {
    width: 100%;
    height: 100%;
  }
}
.footer__contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
@media (max-width: 768px) {
  .footer__contacts {
    grid-template-columns: 1fr;
    gap: 3px;
  }
}
.footer__icon-contact {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__icon-contact:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.footer__soc-row {
  display: grid;
}
@media (max-width: 768px) {
  .footer__soc-row {
    grid-template: 1fr/1fr 1fr;
  }
}
.footer__cont {
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
  font-family: "Jost", sans-serif;
  color: #b4b4b4;
  text-decoration: none;
}
.footer__cont:hover {
  transition: all 0.3s ease;
  color: white;
}
@media (max-width: 768px) {
  .footer__cont {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 180%;
  }
}
.footer__first-main-block {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 987px) {
  .footer__first-main-block {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .footer__first-main-block {
    flex-direction: row;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 10px 0;
  padding: 0;
}
.footer__list a {
  text-decoration: none;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-family: "Jost", sans-serif;
  color: white;
}
.footer__list a:hover {
  transition: all 0.3s ease;
  color: #b4b4b4;
}
@media (max-width: 768px) {
  .footer__list a {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}
.footer__p {
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  font-family: "Jost", sans-serif;
  color: white;
  margin: 0;
}
@media (max-width: 768px) {
  .footer__p {
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
}
.footer__link-list-block {
  display: flex;
  gap: 80.01px;
}
@media (max-width: 768px) {
  .footer__link-list-block {
    gap: 20px;
  }
}
.footer__unp-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  font-family: "Jost", sans-serif;
  color: #b4b4b4;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .footer__unp-text {
    font-size: 6px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 140px;
  }
}
.footer__second-main-block hr {
  margin-top: 6px;
  margin-bottom: 0;
  background: #b4b4b4;
}
.footer__second-block {
  display: flex;
  justify-content: center;
  gap: 90px;
}
.footer__second-block p {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  font-family: "Inter", sans-serif;
  color: #b4b4b4;
  margin: 7.11px 0;
}
@media (max-width: 768px) {
  .footer__second-block p {
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }
}
@media (max-width: 768px) {
  .footer__telega {
    display: none;
  }
}
@media (max-width: 768px) {
  .footer__inst {
    display: none;
  }
}
@media (max-width: 768px) {
  .footer__icons {
    display: none;
  }
}
.footer__soc-icons:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.main-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.main-modal__content {
  background: linear-gradient(228deg, #85a9b5 0.53%, #fbfbfb 100%);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 583px;
  position: relative;
}
@media (max-width: 768px) {
  .main-modal__content {
    width: 289px;
  }
}
.main-modal__close {
  position: absolute;
  right: 8.3px;
  top: 9px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}
.main-modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-modal__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #000;
  margin: 0;
}
@media (max-width: 768px) {
  .main-modal__title {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}
.main-modal__input-area {
  margin-top: 25px;
}
.main-modal__input {
  border-radius: 10px;
  width: 373px;
  height: 49px;
  padding-left: 6.17px;
  border: none;
}
@media (max-width: 768px) {
  .main-modal__input {
    width: 231px;
    border-radius: 6px;
  }
}
.main-modal__textarea {
  border-radius: 10px;
  width: 370px;
  height: 230px;
  resize: none;
  padding: 14.39px 0 0 2.6px;
  border: none;
}
@media (max-width: 768px) {
  .main-modal__textarea {
    width: 231px;
    height: 119px;
  }
}
.main-modal__input-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-modal__btn-block {
  display: flex;
  gap: 33.66px;
  margin-top: 24.56px;
}
.main-modal__btn {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  font-family: "Jost", sans-serif;
  width: 169px;
  height: 58px;
  color: #f26c4f;
  border: 1px solid #f26c4f;
  background: inherit;
  border-radius: 40px;
  padding: 15px 30px;
}
@media (hover: hover) {
  .main-modal__btn:hover {
    transform: all 0.3s ease;
    background: #f26c4f;
    color: white;
  }
}
@media (hover: none) {
  .main-modal__btn:active {
    transform: all 0.3s ease;
    background: #f26c4f;
    color: white;
  }
}
@media (max-width: 768px) {
  .main-modal__btn {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    border-radius: 20px;
    padding: 2px 10px;
    width: 90px;
    height: 30px;
  }
}

.modal-open {
  display: block;
}

@media (max-width: 768px) {
  .club-news {
    padding: 0 10px 0 10px;
  }
}
.club-news__page-link {
  display: flex;
  align-items: end;
  gap: 5px;
}
@media (max-width: 768px) {
  .club-news__house {
    width: 25px;
    height: 22px;
  }
  .club-news__house img {
    width: 100%;
    height: 100%;
  }
}
.club-news__link-block {
  margin-top: 13px;
}
.club-news__link {
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: rgba(34, 62, 76, 0.5);
}
@media (max-width: 768px) {
  .club-news__link {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }
}
.club-news__link-span {
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #223e4c;
}
@media (max-width: 768px) {
  .club-news__link-span {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }
}
.club-news__main-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #223e4c;
  text-align: center;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .club-news__main-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin-top: 9px;
  }
}
.club-news__title {
  text-align: center;
  margin-top: 18px;
}
@media (max-width: 768px) {
  .club-news__title {
    margin-top: 38px;
  }
}
.club-news__title-text {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  font-family: "Montserrat", sans-serif;
  color: #328da2;
  text-align: center;
  margin: 0;
}
@media (max-width: 768px) {
  .club-news__title-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 0;
  }
}
@media (max-width: 768px) {
  .club-news__line {
    width: 147px;
  }
  .club-news__line img {
    width: 100%;
  }
}
.club-news__p {
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  color: #000;
  text-align: center;
  margin: 0;
}
@media (max-width: 768px) {
  .club-news__p {
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 110%;
  }
}
.club-news__img {
  margin: 27px auto 0 auto;
  height: 482px;
}
.club-news__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .club-news__img {
    width: 300px;
    margin: 9px auto 0 auto;
    height: 178px;
  }
}
.club-news__text {
  margin: 50px 0 50px 0;
}
@media (max-width: 768px) {
  .club-news__text {
    margin: 16px 0 24px 0;
  }
}
.club-news__text-p {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  color: #333;
  text-align: justify;
  margin: 0;
}
@media (max-width: 768px) {
  .club-news__text-p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}
.club-news__text-span {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  font-style: italic;
}
@media (max-width: 768px) {
  .club-news__text-span {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    font-style: italic;
  }
}
.club-news__img-blocks {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 768px) {
  .club-news__img-blocks {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    height: 309px;
    overflow: hidden;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .club-news__img-block {
    width: 145px;
    height: 96px;
  }
  .club-news__img-block img {
    width: 100%;
    height: 100%;
  }
}

.about {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px 0 40px;
}
@media (max-width: 768px) {
  .about {
    padding: 0 10px 0 10px;
  }
}
.about__news-page-block {
  padding-left: 225px;
}
@media (max-width: 768px) {
  .about__news-page-block {
    padding-left: 10px;
  }
}
.about__title {
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.01em;
  color: #f26c4f;
  border-bottom: 3px solid #f26c4f;
  width: 100%;
  margin-top: 60px;
}
@media (max-width: 768px) {
  .about__title {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    border-bottom: 2px solid #f26c4f;
    margin-top: 14px;
  }
}
.about__banner-block {
  width: 100%;
  margin-top: 9px;
}
.about__banner-block img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__club-text-soc {
  display: flex;
  justify-content: space-between;
  margin-top: 37px;
}
.about__club-soc {
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;
  -moz-column-gap: 98px;
       column-gap: 98px;
  row-gap: 13px;
}
@media (max-width: 768px) {
  .about__club-soc {
    grid-template: 1fr/1fr;
    gap: 5px;
  }
}
.about__soc-title {
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  text-align: center;
  color: #85a9b5;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 13px;
}
.about__soc-title:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .about__soc-title {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
  }
}
.about__club-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about__text-p {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  color: #333;
}
@media (max-width: 768px) {
  .about__text-p {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}
.about__h2 {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  color: #328ca7;
  border-bottom: 2px solid #328ca7;
  width: 100%;
  margin-top: 100px;
}
@media (max-width: 768px) {
  .about__h2 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    border-bottom: 1px solid #328ca7;
    margin-top: 20px;
  }
}
.about__about-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  text-align: justify;
  color: #333;
  margin: 30px 0 30px 0;
}
@media (max-width: 768px) {
  .about__about-text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    margin: 18px 0 18px 0;
  }
}
.about__club-soc-icon:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .about__club-soc-icon {
    width: 20px;
    height: 20px;
  }
}/*# sourceMappingURL=style.css.map */